
<h3>Lista de Produtos</h3>
<style type="text/css">
	table{
		border: 1px solid #ccc;
	}


	table tr th{
		border: 1px solid #ccc;
		font-weight: bold;
	}


	table tr td{
		border: 1px solid #ccc;
		font-weight: bold;
	}
</style>
<fieldset>
  	<legend>Cadastro</legend>

  
	<%
    rota = "/produto/incluir"

     nome = ""
    telefone = ""

    if @produto.present?
       rota = "/produto/#{@produto.id}/salvar"
       nome = @produto.nome
       telefone = @produto.telefone    	
    end

   %>
	<form action="<%= rota %>" method="Post">


   <div>
   	 <label  for="nome">Nome: </label>
   	 <input type="text"  id="nome"  value="<%= nome %>" name="nome"  >
   </div>

   <div>
   	<label for="telefone"> Telefone :</label>
      <input type="text" id="telefone"value="<%= telefone %> " name="telefone">	
   </div>
   <div>
	  <input type="submit" value="Enviar">
   </div>

</form>


</fieldset>



<table>
   <tr>
	<th>Id</th>
    <th>Nome</th>
    <th>Telefone</th>
</tr>
<% @produtos.each do |produto|%>

<tr>
	
    <td><%= produto.id %></td>
    <td><%= produto.nome %></td>
    <td><%= produto.telefone %></td>
      <td><a href="/produto/<%= produto.id %>/alterar">Alterar</a></td>
      <td><a href="/produto/<%= produto.id %>/excluir">Excluir</a></td>
 </tr>
 <% end %>
</table>

